{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
    <style>
   *{
  text-align: center;

}

body{
  font-family: Arial, Helvetica, sans-serif;
    background-image: url("media/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
  color: orange;
  margin-bottom: 8px;
  font-size: 60px;
}
h2{
  font-size: 35px;
  color: blue;
  padding: 2px;
}
p{
  font-size: 25px;
  margin-bottom: 2px;
}
.dog1{
  height: 350px;
  width: auto;
  padding-left: 100px;
  padding-right: 100px;
}
.dog2{
  height: 350px;
  width: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 0;
}

    </style>
<div class="welcome" style="text-align: left;font-size: 25px;">
    {% if user.is_authenticated %}

    {% endif %}
</div>
<h1>Fluff N' Scales</h1>
<p style="padding-left: 140px;padding-right: 140px">Welcome to the Fluff N' Scales, a place where pet lovers from around the world come together to celebrate the joy and companionship our furry, feathered, and scaly friends bring into our lives. Here, you can immerse yourself in a delightful collection of pet images contributed by our community.</p>
    {% load static %}


{% endblock %}
